@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|VT323|IBM+Plex+Mono|Share+Tech+Mono');

html, body{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 600px;
    justify-content: center;
    align-content: center;
}

.wrapper {
    display: grid;
    border-radius: 3px;
    
    font-family: 'VT323';

    & > div {
        display: none;
    }

    &.s0 {
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        grid-template-areas: 
            "menu-header"
            "saves";
        
        #menu-header,
        #saves {
            display: initial;
        }
    }

    &.s1 {
        grid-template-columns: 30% 70%;
        grid-template-rows: 35px calc(50% - 35px/2) calc(50% - 35px/2);
        grid-template-areas: 
            "header header"
            "map output"
            "inventory input";

        .header,
        #map, #inventory,
        #output {
            display: initial;
        }
        #input {
            display: grid;
        }
    }

    &.s2 {
        grid-template-columns: 100%;
        grid-template-rows: 35px calc(100% - 35px);
        grid-template-areas: 
            "header"
            "end-message";

        .header, #end-message {
            display: initial;
        }
    }

    transition: background-color ease-in-out 1000ms;

    &.bg-default {
        background-color: #b3d7f0;
    }
    &.bg-green {
        background-color: #97d68e;
        //background: radial-gradient(#84d679 50%, darken(#84d679, 15%));
    }
}

.header {
    grid-area: header;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    align-self: center;
    padding-left: .5em;
    font-size: 1.2em;
    font-family: 'Comfortaa';
}

#map {
    grid-area: map;
    align-self: center;
    justify-self: center;

    i {
        font-style: normal;
        color: rgba(0,0,0,.3);
    }
}

#inventory {
    grid-area: inventory;
}

#output {
    grid-area: output;
}

#input {
    grid-area: input;
    justify-self: center;
    align-self: center;
    grid-template-areas: 
        ". upbtn ."
        "leftbtn downbtn rightbtn";

    button {
        font-family: 'IBM Plex Mono';

        &:nth-of-type(1) {
            grid-area: upbtn;
        }
        &:nth-of-type(2) {
            grid-area: leftbtn;
        }
        &:nth-of-type(3) {
            grid-area: rightbtn;
        }
        &:nth-of-type(4) {
            grid-area: downbtn;
        }
    }
}

#menu-header {
    grid-area: menu-header;
    font-size: 5em;
    font-family: 'Comfortaa';
    font-weight: 400;
    justify-self: center;
    align-self: center;
}

#new-save {
    font-family: 'Share Tech Mono';
    font-size: 16px;
    padding: .4em;
    margin: 0;
    outline: none;
}

#saves {
    grid-area: saves;
    justify-self: center;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: .4em;
            box-sizing: border-box;
            font-family: 'Share Tech Mono';
            position: relative;

            button {
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                cursor: pointer;

                padding: 0 0.4em;
                margin: 0;
                background: none;
                border: none;

                &:nth-last-of-type(2) {
                    right: 1.5em;
                    text-transform: uppercase;
                    color: red;
                    display: none;
                }
            }   

            &:hover button:nth-last-of-type(2) {
                display: initial;
            }
        }
    }
}

#end-message {
    grid-area: end-message;
    justify-self: center;
    align-self: center;
    font-size: 3.5em;
}