@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700|VT323|IBM+Plex+Mono|Share+Tech+Mono");
html, body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1000px;
      grid-template-columns: 1000px;
  -ms-grid-rows: 600px;
      grid-template-rows: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  border-radius: 3px;
  font-family: 'VT323';
  position: relative;
  -webkit-transition: background-color ease-in-out 1000ms;
  transition: background-color ease-in-out 1000ms;
}

.wrapper > span {
  font-family: 'IBM Plex Mono';
  width: 32px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4em;
  cursor: pointer;
  display: none;
}

.wrapper > div {
  display: none;
}

.wrapper.s0 {
  background-color: #b3d7f0 !important;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
      grid-template-areas: "menu-header" "saves";
}

.wrapper.s0 #menu-header,
.wrapper.s0 #saves {
  display: initial;
}

.wrapper.s1 {
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: 35px calc(50% - 35px/2) calc(50% - 35px/2);
      grid-template-rows: 35px calc(50% - 35px/2) calc(50% - 35px/2);
      grid-template-areas: "header header" "map output" "inventory input";
}

.wrapper.s1 .header,
.wrapper.s1 #map,
.wrapper.s1 #output {
  display: initial;
}

.wrapper.s1 #inventory,
.wrapper.s1 #input {
  display: -ms-grid;
  display: grid;
}

.wrapper.s2 {
  background-color: #b3d7f0 !important;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 35px calc(100% - 35px);
      grid-template-rows: 35px calc(100% - 35px);
      grid-template-areas: "header" "end-message";
}

.wrapper.s2 .header, .wrapper.s2 #end-message {
  display: initial;
}

.wrapper.s3 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "backpack slots" "item-info player-info";
}

.wrapper.s3 #slots,
.wrapper.s3 #item-info, .wrapper.s3 #player-info {
  display: initial;
}

.wrapper.s3 #backpack {
  display: -ms-grid;
  display: grid;
}

.wrapper.bg-default {
  background-color: #b3d7f0;
}

.wrapper.bg-green {
  background-color: #97d68e;
}

.wrapper.s1 > span,
.wrapper.s3 > span {
  display: initial;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: .5em;
  font-size: 1.2em;
  font-family: 'Comfortaa';
}

#map {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: map;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0.3em;
  border: 1px solid rgba(51, 51, 51, 0.6);
}

#map i {
  font-style: normal;
  color: rgba(0, 0, 0, 0.3);
}

#map a {
  cursor: pointer;
}

#inventory {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: inventory;
}

#inventory,
#backpack {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

#inventory > div,
#backpack > div {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.4em;
  border: 1px solid rgba(51, 51, 51, 0.6);
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(51, 51, 51, 0.6);
          box-shadow: inset 0px 0px 8px 0px rgba(51, 51, 51, 0.6);
  position: relative;
}

#inventory > div.equipped,
#backpack > div.equipped {
  border: 2px solid rgba(0, 0, 0, 0.6);
}

#inventory > div > div,
#backpack > div > div {
  display: none;
  position: absolute;
  width: 200px;
  left: calc(-100px + 10px);
  height: 5em;
  bottom: 2em;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.2em;
  cursor: default;
}

#inventory > div > div .name,
#backpack > div > div .name {
  text-align: center;
}

#inventory > div:hover > div,
#backpack > div:hover > div {
  display: initial;
}

#output {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: output;
}

#input {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: input;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      grid-template-areas: ". upbtn ." "leftbtn downbtn rightbtn";
}

#input button {
  font-family: 'IBM Plex Mono';
}

#input button:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: upbtn;
}

#input button:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: leftbtn;
}

#input button:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: rightbtn;
}

#input button:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: downbtn;
}

#menu-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-header;
  font-size: 5em;
  font-family: 'Comfortaa';
  font-weight: 400;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#new-save {
  font-family: 'Share Tech Mono';
  font-size: 16px;
  padding: .4em;
  margin: 0;
  outline: none;
}

#saves {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: saves;
  -ms-grid-column-align: center;
      justify-self: center;
}

#saves ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#saves ul li {
  padding: .4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Share Tech Mono';
  position: relative;
}

#saves ul li button {
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  padding: 0 0.4em;
  margin: 0;
  background: none;
  border: none;
}

#saves ul li button:nth-last-of-type(2) {
  right: 1.5em;
  text-transform: uppercase;
  color: red;
  display: none;
}

#saves ul li:hover button:nth-last-of-type(2) {
  display: initial;
}

#end-message {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: end-message;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3.5em;
}

#backpack {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: backpack;
}

#backpack > div.renderingInfo {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-transform: uppercase;
}

#backpack > div.renderingInfo * {
  font-size: 16px;
  text-transform: none;
}

#slots {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: slots;
  padding: 2em;
}

#slots > div {
  width: 80%;
  margin: 0.3em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

#slots > div > span:nth-of-type(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#slots > div > span:nth-of-type(2) {
  padding: 0.4em;
  border: 2px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(51, 51, 51, 0.6);
          box-shadow: inset 0px 0px 8px 0px rgba(51, 51, 51, 0.6);
}

#item-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item-info;
  text-align: center;
  font-size: 20px;
}

#item-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#player-info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: player-info;
  text-align: center;
  font-size: 20px;
}

#player-info > div {
  margin: 0.2em 0;
}
/*# sourceMappingURL=main.css.map */